<form ng-submit="register()">
    <label for="emailAddress">Email Address:</label>
    <input id="emailAddress" type="text" ng-model="registerForm.emailAddress" />

    <label for="password">Password:</label>
    <input id="password" type="password" ng-model="registerForm.password" />

    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" ng-model="registerForm.confirmPassword" />

    <button type="submit">Register</button>
</form>